.wrap {
    padding-top: 10%;
    padding-bottom: 5%;
    color: white;
    background-size: cover;
    min-height: 60vh;
    background-color: cadetblue;
    position: relative;
    margin:0 auto;
    text-align: center;
    color: black;

}

.RegistrationContainer {
    align-items: center;
    display: inline-block;

}

.button {
    padding-top: 5%;
}